body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  ul {
    font-family: verdana;
    font-size: 20px;
  }
  ol {
    font-family: verdana;
    font-size: 20px;
    color: blueviolet;
  }
